*, body{
	margin: 0;
	padding: 0;
	position: 0;
}
.wrapper
{
	min-height: 100px;
	background: #2E2E2E;	

}
.wrapper ul{
	height: 100px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: stretch;	
}
.wrapper li
{
	color: #FFF;	
	text-transform: uppercase;	
	padding: 10px;
	margin: 5px;
	list-style-type: none;
	font-size: 25px;
	font-weight: bold;
	font-family: Arial;
}
.wrapper .last
{
	margin-left: auto;
}

