.galery{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;	
}
.galery_list{
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	height: 100%;
}
iframe{
	width: 31%;
	min-height: 200px;
	margin: 1%;
}
video{
	width: 93%;
	height: auto;
	margin-left: 2%;
}
.content p{
	font-size: 14pt;
	padding: 10px 0;
}
.content p:first-child{
	color: red;
	font-size: 28pt;
	font-weight: bold;
}
strong{
	font-weight: bold;
}	