#LedRing {
  display: flex;
  /*height: 80vh;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 20px;
}

svg {
  width: 80%;
}

#menuButs {
  margin-top: 30px;
}
#menuButs button {
  width: 80px;
}